@model IEnumerable<DVDRental.Models.LoanType>

@{
    ViewData["Title"] = "Index";
}

<h1>Loan Types</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i>Add New</a>
</p>
<table class="table table-primary table-hover float-center" style="width:50%">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LoanCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoanCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanDuration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanTypeNumber" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.LoanTypeNumber" class="btn btn-secondary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.LoanTypeNumber" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
