@model IEnumerable<DVDRental.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h1>Members</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i>Add New</a>
</p>
<table class="table table-primary table-hover float-center" style="width:auto">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipCategory.MembershipCategoryNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemberNumber" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberNumber" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberNumber" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
