@model IEnumerable<DVDRental.Models.ViewModels.MemberLoanStatusVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-primary table-hover float-center" style="width:auto">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryTotalLoans)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberLoanCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberNumber)
            </td><td>
                @Html.DisplayFor(modelItem => item.MemberLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipCategory)
            </td><td>
                @Html.DisplayFor(modelItem => item.CategoryTotalLoans)
            </td><td>
                @Html.DisplayFor(modelItem => item.MemberLoanCount)
            </td><td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.MemberNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemberNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemberNumber">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
