@model DVDRental.Models.DVDTitle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@*<div>
    <h4>DVDTitle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateRelease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateRelease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PenaltyCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PenaltyCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Studios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Studios.StudioName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producers.ProducerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DVDCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVDCategory.CategoryDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DVDNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text">
                            <h5 class="card-title">
                                @Model.Title
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Studio: </b>
                            <a asp-controller="Studios" asp-action="Details" asp-route-id="@Model.StudioId">
                                @Model.Studios.StudioName
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Producer: </b>
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerNumber">
                                @Model.Producers.ProducerName
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.DVDCategory</p>
                        <p class="card-text"><b>Release Date: </b>@Model.DateRelease.ToString("dd MMM yy")</p>
                        <p class="card-text"><b>Standard Charge: </b>@Model.StandardCharge.ToString()</p>
                        <p class="card-text"><b>Penalty Charge: </b>@Model.PenaltyCharge.ToString()</p>
                       @* <p class="card-text">
                            <b>Actors: </b>
                            <hr />
                            <div class="row">
                                @foreach (var actor in Model.CastMembers)
                                {
                                    <div class="column text-center">
                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.Actor.ActorId</a>
                                    </div>
                                }
                            </div>
                        </p>*@

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                           @* <a class="btn btn-success text-white  @((DateTime.Now > Model.EndDate) ? "disabled" : "")" 
                               asp-controller="Orders" 
                               asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (Price @Model.Price.ToString("c"))</a>*@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>