@using Microsoft.AspNetCore.Identity
@model IEnumerable<DVDRental.Models.ViewModels.DVDTitleIndexVM>
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Index";
}

<h1>List of DVD's</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<form asp-controller="DVDTitles" asp-action="Index">
    <p>
        Actor Surname: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVDTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyCharge)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Studio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDCategory)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DVDNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DVDNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DVDNumber">Delete</a> |
                <a asp-action="AddCast" asp-route-id="@item.DVDNumber">Add Cast </a>
            </td>
        </tr>
}
    </tbody>
</table>*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: auto;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.DVDTitle
                                     @if (SignInManager.IsSignedIn(User))
                        {
                                        <a class="text-white float-end" asp-action="Edit" asp-route-id="@item.DVDNumber"><i class="bi bi-pencil-square"></i>Edit</a>
                        }
                                    </h5>
                            </p>
                        </div>
                    </div>                
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text"><b>Date Release: </b>@item.DateReleased</p>
                            <p class="card-text"><b>Standard Charge: </b>@item.StandardCharge.ToString()</p>
                            <p class="card-text"><b>Penalty Charge: </b>@item.PenaltyCharge.ToString()</p>
                            <p class="card-text"><b>Studio: </b>@item.Studio</p>
                            <p class="card-text"><b>Producer: </b>@item.Producer</p>
                            <p class="card-text"><b>Category: </b>@item.DVDCategory</p>
                           @*<p class="card-text"><b>Actors: </b>@item.CastMembers</p>*@

                        </div>
                    </div>
                   
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.DVDNumber">
                                        <i class="bi bi-eye-fill"></i>Details
                                    </a>    
                                     @if (SignInManager.IsSignedIn(User))
                                {
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.DVDNumber">
                                        <i class="bi bi-trash"></i>Delete
                                    </a>
                                    <a class="btn btn-outline-success" asp-action="AddCast" asp-route-id="@item.DVDNumber"><i class="bi bi-plus-circle"></i>Add Cast </a>

                                }
                            </p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "DVDTitles") 
