@model IEnumerable<DVDRental.Models.ViewModels.DVDTitleIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="DVDTitles" asp-action="Index">
    <p>
        Actor ID: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DVDTitle.DateRelease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle.StandardCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle.PenaltyCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle.Studios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle.Producers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle.DVDCategory)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVDTitle)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DVDTitle.DateRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.StandardCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDTitle.PenaltyCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.StudioName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.ProducerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDCategory.CategoryNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DVDTitle.DVDNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DVDTitle.DVDNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DVDTitle.DVDNumber">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
