@model IEnumerable<DVDRental.Models.ViewModels.DVDTitleIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="DVDTitles" asp-action="Index">
    <p>
        Actor Surname: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DVDTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReleased)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenaltyCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DVDTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandardCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenaltyCharge)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Studio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDCategory)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DVDNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DVDNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DVDNumber">Delete</a> |
                <a asp-action="AddCast" asp-route-id="@item.DVDNumber">Add Cast </a>
            </td>
        </tr>
}
    </tbody>
</table>
