@model IEnumerable<DVDRental.Models.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Loans</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i>Add New</a>
</p>
<table class="table table-primary table-hover float-center" style="width:auto">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRetured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DVDCopy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRetured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanType.LoanTypeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DVDCopy.CopyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberFirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanNumber" class="btn btn-primary">Return</a> |
                <a asp-action="Details" asp-route-id="@item.LoanNumber" class="btn btn-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoanNumber" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
